volumes:
  sqlserver_data:
services:
  ecom.web:
    image: ${DOCKER_REGISTRY-}ecomweb
    build:
      context: .
      dockerfile: Ecom.Web/Dockerfile
    ports:
      - "5200:8080"
      - "5201:8081"
    depends_on:
      - "ecom.catalog.api"
      - "ecom.orders.api"
      - "myecomshop.seq"

  ecom.catalog.api:
    image: ${DOCKER_REGISTRY-}ecomcatalogapi
    build:
      context: .
      dockerfile: Ecom.Catalog.Api/Dockerfile
    ports:
      - "5011:8080"
    depends_on:
      - "ecom.database"
      - "myecomshop.seq"
      - "ecom.cache"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  ecom.orders.api:
    image: ${DOCKER_REGISTRY-}ecomordersapi
    build:
      context: .
      dockerfile: Ecom.Orders.Api/Dockerfile
    ports:
      - "5012:8080"
    depends_on:
      - "ecom.database"
      - "rabbit_local"
      - "myecomshop.seq"
      - "ecom.queueprocessor"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  ecom.queueprocessor:
    image: ${DOCKER_REGISTRY-}ecomqueueprocessor
    build:
      context: .
      dockerfile: Ecom.QueueProcessor/Dockerfile
    depends_on:
      - "rabbit_local"
      - "ecom.database"
      - "myecomshop.seq"

  ecom.database:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: ecom.database
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=@Password1234
    volumes:
      - sqlserver_data:/var/opt/mssql
    healthcheck:
      test: /opt/mssql-tools/bin/sqlcmd -S localhost -U sa -P "@Password1234" -Q "SELECT 1" || exit 1
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

  myecomshop.seq:
   image: datalust/seq:latest
   container_name: myEcomShop.Seq
   volumes:
     - ./.containers/seq:/data 
   environment:
     - ACCEPT_EULA=Y
   ports:
     - 5341:5341 
     - 5342:80

  rabbit_local:
   image: rabbitmq:3-management
   ports:
     - 8088:15672

  ecom.cache:
   image: redis:latest
   restart: always
   ports:
    - '6379:6379'
   healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
  
 

 

