@model ProductListViewModel

@section JumboTron {
    <section class="mt-3">
        <div class="container">
            <main class="card p-3 shadow-2-strong">
                <div class="row">
                    <vc:navigation-menu />
                    <div class="col-lg-9">
                        <div class="card-banner h-auto p-5 bg-primary rounded-5" style="height: 350px;">
                            <div>
                                <h2 class="text-white">
                                    Great products with <br />
                                    best deals
                                </h2>
                                <p class="text-white">No matter how far along you are in your sophistication as an amateur astronomer, there is always one.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </section>
}


<header class="mb-4">
    <h3>New products</h3>
</header>
<div class="row">

    @foreach (var p in Model.Products)
    {
        <div class="col-lg-3 col-md-6 col-sm-6">
            <partial name="_ProductSummary" model="p" />
        </div>
    }

</div>

<div page-model="@Model.PagingInfo" page-action="index" class="btn-group pull-right m-1"
     page-class-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     page-url-category="@Model.CurrentCategory!"></div>