@model OrderViewModel

@{
    var cart = (Cart)ViewBag.Cart;
}

<section class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-8 mb-4">
                <div class="card mb-4 border shadow-0">
                    <div class="p-4 d-flex justify-content-between">
                        <div class="">
                            <h5>Have an account?</h5>
                            <p class="mb-0 text-wrap ">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <div class="d-flex align-items-center justify-content-center flex-column flex-md-row">
                            <a href="#" class="btn btn-outline-primary me-0 me-md-2 mb-2 mb-md-0 w-100">Register</a>
                            <a href="#" class="btn btn-primary shadow-0 text-nowrap w-100">Sign in</a>
                        </div>
                    </div>
                </div>


                <!-- Checkout -->
                <div class="card shadow-0 border">
                    <div class="p-4">
                        <h5 class="card-title mb-3">Guest checkout</h5>

                        <form asp-action="Checkout" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-6 mb-3">
                                    <p class="mb-0">First name</p>
                                    <div class="form-outline">
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>

                                    </div>
                                </div>

                                <div class="col-6">
                                    <p class="mb-0">Last name</p>
                                    <div class="form-outline">
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-6 mb-3">
                                    <p class="mb-0">Email</p>
                                    <div class="form-outline">
                                        <input asp-for="Email" placeholder="example@gmail.com" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6 mb-3">
                                    <p class="mb-0">Phone (Optional)</p>
                                    <div class="form-outline">
                                        <input asp-for="PhoneNumber" placeholder="" type="tel" class="form-control" />
                                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                                    </div>
                                </div>

                            </div>

                            <hr class="my-4" />

                            <h5 class="card-title mb-3">Shipping info</h5>

                            <div class="row mb-3">
                                <div class="col-lg-4 mb-3">
                                    <!-- Default checked radio -->
                                    <div class="form-check h-100 border rounded-3">
                                        <div class="p-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked />
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                Express delivery <br />
                                                <small class="text-muted">3-4 days via Fedex </small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <!-- Default radio -->
                                    <div class="form-check h-100 border rounded-3">
                                        <div class="p-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" />
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Post office <br />
                                                <small class="text-muted">20-30 days via post </small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-3">
                                    <!-- Default radio -->
                                    <div class="form-check h-100 border rounded-3">
                                        <div class="p-3">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" />
                                            <label class="form-check-label" for="flexRadioDefault3">
                                                Self pick-up <br />
                                                <small class="text-muted">Come to our shop </small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-8 mb-3">
                                    <p class="mb-0">Address</p>
                                    <div class="form-outline">
                                        <input asp-for="Line1" placeholder="Street" class="form-control" />
                                        <span asp-validation-for="Line1" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4 mb-3">
                                    <p class="mb-0">City</p>
                                    <div class="form-outline">
                                        <input asp-for="City" class="form-control" />
                                        <span asp-validation-for="City" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-sm-4 mb-3">
                                    <p class="mb-0">State</p>
                                    <select class="form-select" id="State" name="State">
                                        <option value="UT">UT</option>
                                        <option value="CA">CA</option>
                                        <option value="NY">NY</option>
                                        <option value="NV">NV</option>
                                    </select>
                                </div>


                                <div class="col-sm-4 col-6 mb-3">
                                    <p class="mb-0">Zip code</p>
                                    <div class="form-outline">
                                        <input asp-for="Zip" class="form-control" />
                                        <span asp-validation-for="Zip" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-6 mb-3">
                                    <p class="mb-0">Country</p>
                                    <div class="form-outline">
                                        <input type="text" id="typeText" value="US" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="form-check mb-3">
                                @*  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" />
                                <label class="form-check-label" for="flexCheckDefault1">Save this address</label> *@

                                <input class="form-check-input" asp-for="GiftWrap" /> @Html.DisplayNameFor(model => model.GiftWrap)
                            </div>

                            <div class="mb-3">
                                <p class="mb-0">Message to seller</p>
                                <div class="form-outline">
                                    <textarea class="form-control" id="textAreaExample1" rows="2"></textarea>
                                </div>
                            </div>

                            <div class="float-end">
                                <input type="submit" value="Complete Order" class="btn btn-light border border-secondary py-2 icon-hover px-3" />
                            </div>

                        </form>
                    </div>
                </div>
                <!-- Checkout -->
            </div>
            <div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end">
                <div class="ms-lg-4 mt-4 mt-lg-0" style="max-width: 320px;">
                    <h6 class="mb-3">Summary</h6>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Total price:</p>
                        <p class="mb-2">$@cart.CartTotal.ToString()</p>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Shipping cost:</p>
                        <p class="mb-2">FREE</p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between">
                        <p class="mb-2">Total price:</p>
                        <p class="mb-2 fw-bold">$@cart.CartTotal.ToString()</p>
                    </div>

                    <div class="input-group mt-3 mb-4">
                        <input type="text" class="form-control border" name="" placeholder="Promo code" />
                        <button class="btn btn-light text-primary border">Apply</button>
                    </div>

                    <hr />
                    <h6 class="text-dark my-4">Items in cart</h6>

                    @foreach (var item in cart.CartItems)
                    {
                        <div class="d-flex align-items-center mb-4">
                            <div class="me-3 position-relative">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
                                    @item.Quantity
                                </span>
                                <img src="@ViewContext.HttpContext.Request.ImageUrl(item.MainImageUrl)" style="height: 96px; width: 96px; object-fit: scale-down;" class="img-sm rounded border" />
                            </div>
                            <div class="">
                                <a href="#" class="nav-link" style="text-decoration: none;color: black;">
                                    @item.Product.Name
                                </a>
                                <div class="price text-muted">Total: $@item.Total.ToString()</div>
                            </div>
                        </div>
                    }


                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
