@model IEnumerable<string>
<div class="col-lg-3">
    <nav class="nav flex-column nav-pills mb-md-2">
        <a class="nav-link  py-2 ps-3 my-0" asp-action="Index" asp-controller="Home" asp-route-category=""
           asp-route-productPage="1">
            Home
        </a>

        @foreach (string category in Model ?? Enumerable.Empty<string>())
        {
            <a class="nav-link my-0 py-2 ps-3 bg-white @(category == ViewBag.SelectedCategory ? "active": "")"
               asp-action="Index"
               asp-controller="Home"
               asp-route-category="@category"
               asp-route-productPage="1">
                @category
            </a>
        }

    </nav>
</div>
